<tr>
	<td class="user_survey">
	<span class="content"><%= user_survey.id %></span>
	
	<span class="timestamp">
        <%= user_survey.description   %>

	<%= render user_survey.questions %>

	<br></br>
	<%= link_to "Exit Survey", "/home" %>  	
	</span>
	</td>
	
</tr>

