<h1>Survey Engine: About</h1>
<p>
<%=link_to "Survey Engine", home_path, :class => "home link" %> is ROR project for class CS441. Designed, developed and implemeted by Kumar Saurabh Bisht. One reference in particular for implementation of this project would be <a href =  http://ruby.railstutorial.org/ruby-on-rails-tutorial-book target="_blank" > "Ruby on Rail tutorial" by Michael Hartle </a>.
</p>
