<html>
<head>
<title> <%= @title %> | Survey Engine </title>
</head>
<body>
<h1>Survey Engine: Help</h1>
<p>
The  <a href="Home">home page </a> has following links:

1 - Take survey   : Click on this link to take pre-existing surveys.
2 - Survey Admin  : Click here to edit a survey. One needs to know the survey ID for editing a survey.
3 - Survey Result : Click here to view result of surveys.  One needs to know the survey ID for viewing result.

</p>
</body>
</html>
