
<h1>Survey Engine</h1>
<p>
Take a quick survey, create new surveys or view results. It's easy, try it now !!
Click on "Help" for any information. <br></br> <br></br>


<ul>
<li><%= link_to "Take Survey", user_surveys_path, %></li>
<li> <% if signed_in? %> <%= link_to "Survey Administration", current_user  %> <% else %>
<%= link_to "Survey Administration", signin_path  %>  <% end %> </li>
<li><%= link_to "View Survey Result", view_result_path %></li>

</ul>
</p>

