
<h1>Survey Engine</h1>
<p>
Take a quick survey, create new surveys or view results. It's easy, try it now !!
Click on "Help" for any information. <br></br> <br></br>


<ul>
<li><%= link_to "Take Survey", "#" , :class => "take_survey link" %></li>
<li><%= link_to "Survey Administration", "#" , :class => "admin_survey link" %></li>
<li><%= link_to "View Survey Result", "#" , :class => "view_result link" %></li>

<li><a href="Help">Help (to be removed)</a></li>
</ul>
</p>

