
<h1>Survey Engine</h1>
<p>
Take a quick survey, create new surveys or view results. It's easy, try it now !!
Click on "Help" for any information. <br></br> <br></br>


<ul>
<li><%= link_to "Take Survey", take_survey_path, :class => "take_survey link" %></li>
<li><%= link_to "Survey Administration", "#" , :class => "admin_survey link" %></li>
<li><%= link_to "View Survey Result", view_result_path , :class => "view_result link" %></li>

</ul>
</p>

