<header>
<nav class="round">

<%= link_to "Home", home_path %> &nbsp &nbsp &nbsp &nbsp <%= link_to "Help", help_path %> &nbsp &nbsp &nbsp &nbsp  <%= link_to "Sign in", signup_path %>

</nav>
</header>
